.help-message p {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif !important;
    font-size: 14px !important;
    color: #777;
    margin-top:3px;
}

.cardProjectInfo {
    height: 35px;
    width: 90%;
    margin-left: 20px;
}

.projectInfo {
    margin-left: 10px;
    padding-top: 7px;
    font-size: 14px;
    color: #777;
}

.projectInfoEdit {
    float: right;
    font-size: 12px;
    margin-top: 1px;
    margin-right: 8px;
    cursor:pointer;
}

.center {
    width: 100%;
    height: 40%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.sk-cube-grid .sk-cube {
    background-color: #9088ec !important;
}